body {
    background: #145a1f;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    background: #000;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.pokertisch {
    background: radial-gradient(ellipse at center, #145a1f 100%);
    width: 900px;
    height: 650px;
    border-radius: 50% / 40%;
    margin-top: 120px; /* Tisch weiter nach unten */
    box-shadow: 0 0 60px #0a3d13, 0 0 0 10px #222 inset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.buttons {
    display: flex;
    gap: 20px;
    button {
        font-size: 16px;
        border-radius: 24px;
        border: 0;
        padding: 8px;
        background-color: orange;
        color: #fff;
    }
}

.hand-cards {
    display: flex;
    gap: 12px;
}